* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li {
  margin: 0 0.1rem;
  background: whitesmoke;
}

li:hover {
  border: 1px solid gray;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

.flex-row > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.3rem 0.3rem;
}

.score-wrapper {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-content: initial;
  background: rgb(230, 229, 229);
}

.score {
  width: 60%;
  text-justify: left;
  text-overflow: ellipsis;
  align-self: top;
  padding: 0.15rem 0.1rem;
}

/* .left-button-wrapper {
} */

.right-button-wrapper {
  width: 5rem;
}

.body-wrapper {
  flex: 12;
  align-self: center;
  font-size: 0.9rem;
}

.body-wrapper:hover {
  cursor: pointer;
}

.fas, .far, .fab {
  padding: 0.4rem;
}

.button {
  align-self: top;
}

.button:hover {
  background: rgb(207, 207, 207);
  border-radius: 0.1rem;
  cursor: pointer;
}

.sub-text {
  font-size: 0.8rem;
  color: gray;
}

.external-url {
  font-size: 0.7rem;
  color: rgb(63, 176, 241);
}

.external-url:hover {
  text-decoration: underline;
}

.upvote:hover {
  color: red;
}

.downvote:hover{
  color: blue;
}