* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li {
  margin: 0.1rem;
  background: whitesmoke;
}


li:hover {
  border: 0.01rem solid gray;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

.flex-row > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.3rem 0.3rem;
}

.score-wrapper {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.score {
  width: 60%;
  text-justify: left;
  text-overflow: ellipsis;
  align-self: center
}

.left-button-wrapper {
}

.right-button-wrapper {
  width: 5rem;
}

.body-wrapper {
  flex: 12;
  align-self: center
}

.fas, .far, .fab {
  padding: 0.4rem;
}

.button:hover {
  background: rgb(216, 216, 216);
}
